{% extends "iris/base.html" %}



{% block content %}



<div class="card">
	<div class="card-header text-white bg-info"><h2>Prediccion #{{object.id}}</h2></div>
	<div class="card-body">
		<div style="float: left;">
			<h4>Datos</h4>
			<strong>Experiecia: </strong>{{object.experiencia}} años<br>
			
			<h4 class="mt-4">Prediccion</h4>
			
			<strong>Salario: </strong>{{ object.salario_ex }}<br>
		
			<div class="mt-5">
			<strong >Fecha de creacion: </strong>{{object.fecha}}<br>
			</div>
		</div>
		<div style="float: right;">
			<canvas id="myChart" width="850" height="500"></canvas>
		</div>

	</div>

	<div >
		<hr class="my-2 ">
		<a class="btn btn-outline-primary mb-2 ml-2" href="{% url 'salario' %}">Regresar</a>
		<a class="btn btn-outline-warning mb-2 ml-2" href="{% url 'salario-edit' object.id %}">Editar</a>
		<a class="btn btn-outline-danger mb-2 ml-2" href="{% url 'salario-delete' object.id %}">Eliminar</a>

	</div>


	
</div>





{% endblock  %}



{% block js %}


<script>
var ctx = document.getElementById('myChart').getContext('2d');

var myChart = new Chart(ctx, {
	type: 'bar',
	data: {
		labels: ['Experiecia'],
		datasets: [{
			label: 'Medidas de Iris',
			data: [{{ object.experiencia }}],
			backgroundColor: [
			'rgba(255, 99, 132, 0.2)',
			'rgba(54, 162, 235, 0.2)',
			'rgba(153, 102, 255, 0.2)',
			'rgba(255, 159, 64, 0.2)'
			],
			borderColor: [
			'rgba(255, 99, 132, 1)',
			'rgba(54, 162, 235, 1)',
			'rgba(255, 206, 86, 1)',
			'rgba(75, 192, 192, 1)',
			'rgba(153, 102, 255, 1)',
			'rgba(255, 159, 64, 1)'
			],
			borderWidth: 1
		}]
	},
	options: {
		scales: {
			yAxes: [{
				ticks: {
					beginAtZero: true
				}
			}]
		}
	}

	
	
});

</script>


{% endblock %}